/*CSS Reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  overflow-wrap: break-word;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}
/*Fonts*/
@font-face {
  font-family: "Mauren";
  src: url("Fontspring-DEMO-theseasons-reg.otf");
}

@font-face {
  font-family: "Nexa";
  src: url("Nexa-Regular.otf");
}
/*Cursor*/

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1.5px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  display: grid;
  place-content: center;
  font-size: var(--fs-200);
  transition: padding 0.2s;
}

.cursor-inner {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  content: "kbkj";
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
/*CSS Variables*/

:root {
  --clr-body: hsl(0, 0%, 100%);

  --clr-bg: hsl(50, 18%, 96%);
  --clr-text: hsl(0, 0%, 20%);

  --ff-accent: "Mauren", serif;
  --ff-primary: "Nexa", sans-serif;

  --fs-100: 0.8rem;
  --fs-200: 0.9rem;
  --fs-300: 1.2rem;
  --fs-400: 1.3rem;

  --fw-regular: 400;
  --fw-bold: 500;
}

/**/

body {
  background-color: var(--clr-body);
  color: var(--clr-text);

  font-family: var(--ff-primary);

  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
}

.container {
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
/*Navigation Header*/
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-block: 0.5rem;
}

.nav-header .title {
  font-family: var(--ff-accent);
  font-size: 1.4rem;
}

/* Featured Projects Section*/

.featured-projects {
  background-color: var(--clr-bg);
}

.project-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.project-image-wrapper {
  width: 100%;
  height: 110vh;
}

.project-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-details-wrapper {
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  text-align: center;
  text-transform: uppercase;

  margin-inline: 0.5rem;
  margin-bottom: 2rem;
}

.brand {
  text-transform: uppercase;
  font-family: var(--ff-primary);
}

.mission {
  display: none;
}

.view {
  text-decoration: underline;
}

.get-in-touch {
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: var(--clr-bg);
}

.get-in-touch-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  text-align: center;
  margin-top: 0.5rem;
}

.get-in-touch .text-wrapper {
  font-size: var(--fs-300);
  text-align: center;
  margin-top: 0.5rem;
}

.get-in-touch .link {
  text-decoration: underline;
  font-weight: var(--fw-bold);
}

.get-in-touch .icon-wrapper {
  height: 1rem;
  width: 7rem;
  margin-inline: auto;
  background-image: url(assets/icons/vintage.png);
  background-size: cover;
  background-position: center;
}
/*About Section*/
.about {
  padding-top: 1.5rem;
  padding-inline: 1rem;
  background-color: var(--clr-bg);
}
.about .text-wrapper > * + * {
  margin-top: 1rem;
}
.about-text {
  font-family: var(--ff-accent);
  font-size: var(--fs-300);
  line-height: 1.7;
}

.list-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: 0;
}

.about-infos {
  margin-top: 2rem;
  display: grid;
}

.info-block {
  padding-block: 1.25rem;
  border-bottom: 1.5px solid var(--clr-text);
  display: grid;
  gap: 1rem;
}

.open {
  max-height: 700px !important;
  display: block !important;
}
.list-container {
  max-height: 0;
  display: none;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.info-block .list {
}

/*footer*/
.footer {
  padding: 0.5rem 1rem;
  display: grid;
  place-content: center;
  border-top: 1.5px solid var(--clr-text);
}
@media (min-width: 60rem) {
  :root {
    --fs-100: 0.9rem;
    --fs-200: 1rem;
    --fs-300: 1.3rem;
    --fs-400: 2rem;
  }
  /* Featured Projects Section*/
  .project-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-wrapper.reverse > .slide-container {
    order: 2;
  }

  .project-details-wrapper {
    padding: 2.5rem 2.5rem;
  }

  .project-title {
    margin-top: 4rem;
    margin-inline: 1rem;
  }

  .slide-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .project-image-wrapper {
    position: absolute;
    width: 100%;
    height: 120vh;
    transform: translateY(-20vh);
    position: relative;
  }

  .project-image-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
  }
  .project-details-wrapper {
    flex: 1;
  }
  /* Get In Touch Section*/

  .get-in-touch {
    flex-direction: row;
  }

  /*About Section*/
  .about-infos {
    justify-content: space-between;
  }
  .about-infos > * {
    flex: 1;
  }
}
